<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.com.nftf.kys.mapper.ArticleMapper">
	<select id="getArticle" resultType="Article">
		SELECT *
		FROM article
		WHERE id
		= #{id}
	</select>

	<!-- public List<Article> getArticles(@Param(value = "searchKeywordType") 
		String searchKeywordType, @Param(value = "searchKeyword") String searchKeyword); -->

	<select id="getArticles" resultType="Article">
		SELECT *
		FROM article
		WHERE 1
		<if test="searchKeyword != null">
			<if test="searchKeywordType == 'title'">
				AND title LIKE '%#{searchKeyword}%'
			</if>
			<if test="searchKeywordType == 'body'">
				AND title LIKE '%#{searchKeyword}%'
			</if>
			<if test="searchKeywordType == 'titleAndBody'">
				AND (title LIKE '%#{searchKeyword}%' OR 'body' LIKE
				'%#{searchKeyword}%')
			</if>
		</if>
		ORDER BY id DESC
	</select>

	<insert id="addArticle" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO article
		SET regDate = NOW(),
		updateDate =
		NOW(),
		title =
		#{title},
		`body` = #{body}
	</insert>

	<delete id="deleteArticle">
		DELETE FROM article
		WHERE id = #{id}
	</delete>

	<update id="modifyArticle">
		UPDATE article
		<set>
			<if test="title !=null || body != null">
				SET updateDate = NOW(),
			</if>
			<if test="title !=null">
				title = #{title},
			</if>
			<if test="body !=null">
				`body` = #{body}
			</if>
		</set>
		WHERE id = #{id}
	</update>

</mapper>